<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mk.pojo.dto.DishDto">
<!--    <select id="page" parameterType="dishDto" resultType="dishDto">-->
<!--        select d.*, c.name from dish d join category c on d.category_id = c.id-->
<!--          <where>-->
<!--              <if test="">-->
<!--                  -->
<!--              </if>-->
<!--          </where>-->
<!--    </select>-->
</mapper>
